.macbook-pro {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #fbfbfb;
    height: 4305px;
    overflow: hidden;
    position: relative;
    width: 1512px;
  }
  
  .macbook-pro .overlap {
    height: 720px;
    left: 160px;
    position: absolute;
    top: 2705px;
    width: 1192px;
  }
  
  .macbook-pro .rectangle {
    background-color: #a0e9ff;
    border-radius: 10px;
    height: 450px;
    left: 0;
    position: absolute;
    top: 164px;
    width: 1192px;
  }
  
  .macbook-pro .img {
    height: 720px;
    left: 738px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 454px;
  }
  
  .macbook-pro .group {
    height: 72px;
    left: 116px;
    position: absolute;
    top: 480px;
    width: 257px;
  }
  
  .macbook-pro .overlap-group {
    background-color: #f56e0f;
    border-radius: 10px;
    height: 72px;
    position: relative;
    width: 255px;
  }
  
  .macbook-pro .text-wrapper {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
  }
  
  .macbook-pro .text-wrapper-2 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 68px;
    font-weight: 400;
    left: 116px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 277px;
    width: 552px;
  }
  
  .macbook-pro .overlap-2 {
    background-color: #ffebd8;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
  }
  
  .macbook-pro .div-wrapper {
    background-color: #f56e0f;
    border-radius: 10px;
    height: 60px;
    left: 1185px;
    position: absolute;
    top: 20px;
    width: 167px;
  }
  
  .macbook-pro .text-wrapper-3 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .macbook-pro .navbar {
    height: 39px;
    left: 433px;
    position: absolute;
    top: 31px;
    width: 543px;
  }
  
  .macbook-pro .text-wrapper-4 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .text-wrapper-5 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 99px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .text-wrapper-6 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .text-wrapper-7 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 373px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .cart {
    height: 50px;
    left: 1103px;
    position: absolute;
    top: 25px;
    width: 50px;
  }
  
  .macbook-pro .lucide-search {
    height: 50px;
    left: 1028px;
    position: absolute;
    top: 25px;
    width: 50px;
  }
  
  .macbook-pro .overlap-3 {
    background-color: #ffebd8;
    height: 500px;
    left: 0;
    position: absolute;
    top: 101px;
    width: 1512px;
  }
  
  .macbook-pro .rectangle-2 {
    background-color: #ffebd8;
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
  }
  
  .macbook-pro .text-wrapper-8 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
  }
  
  .macbook-pro .rectangle-3 {
    background-color: #f56e0f;
    border-radius: 10px;
    height: 72px;
    left: 160px;
    position: absolute;
    top: 339px;
    width: 255px;
  }
  
  .macbook-pro .text-wrapper-9 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 214px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 356px;
  }
  
  .macbook-pro .rectangle-4 {
    height: 500px;
    left: 877px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 465px;
  }
  
  .macbook-pro .p {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 246px;
    width: 416px;
  }
  
  .macbook-pro .overlap-4 {
    background-color: #f56e0f;
    border-radius: 10px;
    height: 72px;
    left: 1034px;
    position: absolute;
    top: 1421px;
    width: 255px;
  }
  
  .macbook-pro .text-wrapper-10 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
  }
  
  .macbook-pro .overlap-5 {
    background-color: #eaeeef;
    background-image: url(./rectangle-17.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 416px;
    left: 160px;
    position: absolute;
    top: 801px;
    width: 376px;
  }
  
  .macbook-pro .overlap-6 {
    background-color: #eaeeef;
    background-image: url(./rectangle-18.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 416px;
    left: 160px;
    position: absolute;
    top: 1249px;
    width: 376px;
  }
  
  .macbook-pro .overlap-7 {
    background-color: #eaeeef;
    background-image: url(./rectangle-15.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 416px;
    left: 568px;
    position: absolute;
    top: 1249px;
    width: 376px;
  }
  
  .macbook-pro .overlap-8 {
    background-color: #eaeeef;
    background-image: url(./rectangle-16.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 416px;
    left: 568px;
    position: absolute;
    top: 801px;
    width: 376px;
  }
  
  .macbook-pro .text-wrapper-11 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1045px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 842px;
  }
  
  .macbook-pro .text-wrapper-12 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1045px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 914px;
  }
  
  .macbook-pro .text-wrapper-13 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1045px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 986px;
  }
  
  .macbook-pro .text-wrapper-14 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1045px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1058px;
  }
  
  .macbook-pro .text-wrapper-15 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1045px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1130px;
  }
  
  .macbook-pro .overlap-9 {
    background-color: #fbfbfb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #eaeeef;
    height: 596px;
    left: -1px;
    position: absolute;
    top: 1930px;
    width: 1514px;
  }
  
  .macbook-pro .text-wrapper-16 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 441px;
  }
  
  .macbook-pro .text-wrapper-17 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 454px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 441px;
  }
  
  .macbook-pro .text-wrapper-18 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 893px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 441px;
  }
  
  .macbook-pro .text-wrapper-19 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 1332px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 441px;
  }
  
  .macbook-pro .rectangle-5 {
    height: 400px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 438px;
  }
  
  .macbook-pro .rectangle-6 {
    height: 400px;
    left: 438px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 438px;
  }
  
  .macbook-pro .rectangle-7 {
    height: 400px;
    left: 876px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 438px;
  }
  
  .macbook-pro .rectangle-8 {
    height: 400px;
    left: 1314px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 198px;
  }
  
  .macbook-pro .rectangle-9 {
    background-color: #eaeeef;
    height: 25px;
    left: 115px;
    position: absolute;
    top: 569px;
    width: 625px;
  }
  
  .macbook-pro .text-wrapper-20 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 497px;
  }
  
  .macbook-pro .text-wrapper-21 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 454px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 497px;
  }
  
  .macbook-pro .text-wrapper-22 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 892px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 497px;
  }
  
  .macbook-pro .text-wrapper-23 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 1330px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 497px;
  }
  
  .macbook-pro .weui-like-outlined-wrapper {
    background-color: #eaeeef;
    border-radius: 35px;
    height: 70px;
    left: 352px;
    position: absolute;
    top: 428px;
    width: 70px;
  }
  
  .macbook-pro .weui-like-outlined {
    height: 50px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  
  .macbook-pro .img-wrapper {
    background-color: #eaeeef;
    border-radius: 35px;
    height: 70px;
    left: 790px;
    position: absolute;
    top: 428px;
    width: 70px;
  }
  
  .macbook-pro .group-2 {
    background-color: #eaeeef;
    border-radius: 35px;
    height: 70px;
    left: 1228px;
    position: absolute;
    top: 428px;
    width: 70px;
  }
  
  .macbook-pro .overlap-10 {
    height: 80px;
    left: 160px;
    position: absolute;
    top: 1784px;
    width: 332px;
  }
  
  .macbook-pro .text-wrapper-24 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 64px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
  }
  
  .macbook-pro .text-wrapper-25 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 64px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .overlap-wrapper {
    height: 680px;
    left: 0;
    position: absolute;
    top: 3625px;
    width: 1548px;
  }
  
  .macbook-pro .overlap-11 {
    background-color: #ffebd8;
    border-color: #f56e0f;
    border-top-style: solid;
    border-top-width: 1px;
    height: 682px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1514px;
  }
  
  .macbook-pro .rectangle-10 {
    background-color: #ffebd8;
    border-color: #f56e0f;
    border-top-style: solid;
    border-top-width: 1px;
    height: 682px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 1514px;
  }
  
  .macbook-pro .text-wrapper-26 {
    color: #f56e0f;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1062px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 244px;
  }
  
  .macbook-pro .text-wrapper-27 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
  }
  
  .macbook-pro .text-wrapper-28 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
  }
  
  .macbook-pro .text-wrapper-29 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
  }
  
  .macbook-pro .text-wrapper-30 {
    color: #000000;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 1046px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
  }
  
  .macbook-pro .text-wrapper-31 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1046px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
  }
  
  .macbook-pro .line {
    height: 1px;
    left: 1044px;
    object-fit: cover;
    position: absolute;
    top: 292px;
    width: 308px;
  }
  
  .macbook-pro .rectangle-11 {
    border: 1px solid;
    border-color: #f56e0f;
    height: 74px;
    left: 1045px;
    position: absolute;
    top: 324px;
    width: 308px;
  }
  
  .macbook-pro .text-wrapper-32 {
    color: #f56e0f;
    font-family: "Cabin Condensed-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 1145px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
  }
  
  .macbook-pro .text-wrapper-33 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
  }
  
  .macbook-pro .text-wrapper-34 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
  }
  
  .macbook-pro .text-wrapper-35 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
  }
  
  .macbook-pro .text-wrapper-36 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 228px;
  }
  
  .macbook-pro .text-wrapper-37 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 273px;
  }
  
  .macbook-pro .text-wrapper-38 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
  }
  
  .macbook-pro .text-wrapper-39 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 228px;
  }
  
  .macbook-pro .text-wrapper-40 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 273px;
  }
  
  .macbook-pro .text-wrapper-41 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
  }
  
  .macbook-pro .text-wrapper-42 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 228px;
  }
  
  .macbook-pro .text-wrapper-43 {
    color: #000000;
    font-family: "Cabin Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 273px;
  }
  
  .macbook-pro .ic-outline-facebook {
    height: 50px;
    left: 160px;
    position: absolute;
    top: 120px;
    width: 50px;
  }
  
  .macbook-pro .ri-instagram-fill {
    height: 50px;
    left: 240px;
    position: absolute;
    top: 120px;
    width: 50px;
  }